*{
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    margin: 5px 0;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

label span {
    display: inline-block;
    width: 120px;
    text-align: right;
}

input[type='radio']:first-of-type + span,
input[type='checkbox']:first-of-type + span{
    text-align: left;
    margin: 10px 0 0 10px;
}

input[type='radio']:last-of-type + span,
input[type='checkbox']:last-of-type + span{
    margin-bottom: 10px;
}


input, textarea {
    font: 1em sans-serif;
    width: 250px;
    border: 1px solid #999;
}

input[type=checkbox], input[type=radio] {
    width: auto;
    border: none;
}

input[type='file']{
    display: grid;
    margin: 20px auto;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

fieldset {
    width: auto;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-bottom: 10px;
}

button {
    display: grid;
    margin: auto;
}

label {
  position: relative;
}